SauceDemoTesting/.vs/VSWorkspaceState.json
SauceDemoTesting/.vs/SauceDemoTesting/copilot-chat/ac251794/sessions/eff6a76b-1ab6-4a26-849d-b633c9a48893
SauceDemoTesting/.vs/SauceDemoTesting/CopilotIndices/17.14.1231.31060/CodeChunks.db
SauceDemoTesting/.vs/SauceDemoTesting/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
SauceDemoTesting/.vs/SauceDemoTesting/FileContentIndex/2d1d5692-a102-4ef5-912f-2fb14b1a77bc.vsidx
SauceDemoTesting/.vs/SauceDemoTesting/v17/.wsuo
SauceDemoTesting/.vs/SauceDemoTesting/v17/DocumentLayout.json
SauceDemoTesting/.vs/slnx.sqlite
